# Node modules
node_modules/

# Environment variables
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# IDE Configurations (VSCode, JetBrains, etc.)
.vscode/
.idea/

# Build files (if any)
dist/
build/
firebase-key.json